%nav{:class => 'top-bar'}
  %ul{:class => 'title-area'}
    %li{:class => 'name'}
      %h1
        =link_to 'Gainz ', ''
    %li{:class => 'toggle-topbar menu-icon'}
      %a{:href => '#'}
        %span Menu
  %section{:class => 'top-bar-section'}
    <!-- Right Nav Section -->
    %ul{:class => 'right'}
      = if current_user
        %li
          = link_to "Hi, #{current_user.first_name}", '#'
      %li{:class => 'has-dropdown active'}
        %a{:href => '#'} Track
        %ul{:class => 'dropdown'}
          %li
            %a{:href => '#'} Feed
        %ul{:class => 'dropdown'}
          %li
            %a{:href => '#'} Train
    <!-- Left Nav Section -->
    %ul{:class => 'left'}
      %li
        %a{:href => '#'} Left Nav Button
